In [1]:
def print_done():
    print('done')

In [2]:
print_done()

done

In [8]:
print_done_lambda = lambda x: print('done')
print_done_lambda

ok apparently lamda has to be a single expression, meaning that print doesn't work as print is a function itself. 

So try it out with just a single expression.

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame(np.random.randint(0, 100, size=(10, 2)),
                  columns=['col_1', 'col_2'])

In [13]:
df

   col_1  col_2
0      6     50
1     17      9
2     97     47
3     19     65
4     76     92
5     80     42
6      1     52
7      2     73
8     47     89
9     27     99

In [15]:
# let's filter out rows in col_1 is below 50:
df.loc[lambda l: l['col_1'] > 50]

   col_1  col_2
2     97     47
4     76     92
5     80     42